<body>
    <header>
        <img src="./css/icons8-coffee-100.png">
        <h1>Welcome to the Admin Dashboard</h1>
    </header>




    <form action="/days" method="get">

        <h1>Usernames by Day</h1>

{{#if clearData}}
<p class="green">{{ clearData }}</p>
{{/if}}

        <div style="border: black 2px solid;">
            {{#each availability}}
            <h2 style="border: black 2px solid;">{{@key}}</h2>
            <ul>
                {{#each this}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{/each}}
        </div>
    </form>
    <form action="/clear" method="post">

        <button type="submit">Clear week data</button>
    </form>