<body>
    <header>
        <img src="./css/icons8-coffee-100.png">
        <h1>Welcome to the Admin Dashboard</h1>
    </header>




<form action="/days" method="get">

        <div>
            <h2>Day status</h2>
            <table>
                <thead>
                    <tr>
                        <th>Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                   
                        <td>Monday</td>
                        {{!-- name of all the users --}}
                        {{#if waiterUsernames}}
                        {{waiterUsernames}}
                        {{/if}}


                    </tr>
                    <tr>
                        <td>Tuesday</td>

                    </tr>
                    <tr>
                        <td>Wednesday</td>

                    </tr>

                    <tr>
                        <td>Thursday</td>

                    </tr>

                    <tr>
                        <td>Friday</td>

                    </tr>

                    <tr>
                        <td>Saturday</td>

                    </tr>

                    <tr>
                        <td>Sunday </td>

                    </tr>

                </tbody>
            </table>



        </div>
        <button>Clear week data</button>

    </div>
    </form>

