@font-face {
    font-family: cafeHeading;
    src: url(ModernScript-yyWe.ttf);

}
@font-face {
    font-family: admin;
    src: url(Sundaycoffee-X3JKg.ttf);
}

body {
    /* background-image: url(./pxfuel.jpg); */
    /* background-color: #4f200c; */
    position: relative;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.adminManage {
    background-color: #b59c7d;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center
}


.maanageWaiters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;

    padding: 20px;
    /* Add padding for spacing */
}

.maanageWaiters p {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #7f5539;
    /* Set your preferred background color */
    padding: 10px;
    /* Add padding for spacing */
    font-size: 16px;
    /* Set your preferred font size */
    line-height: 1.5;
    /* Adjust line height for readability */
    letter-spacing: 0.5px;
    /* Adjust letter spacing if needed */
    margin: 0;
}

.maanageWaiters p:hover {
    background-color: #b6ad90;
    /* Change background color on hover */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}


header {

    font-family: admin;
    text-align: center;
    display: flex;
    /* background-color: #f0f0f0; */

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td input[type="checkbox"] {
    margin-left: 5px;
}

/* styling for success message */
.greenMessage {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #270;
    background-color: #DFF2BF; 

}

.orange {
    background-color: orange;
}







.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    align-items: center;
    text-align: center;

}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.red {
    background-color: red;
}


.orange {
    background-color: blueviolet;
}



@media (max-width: 768px) {
    .maanageWaiters {
        grid-template-columns: 1fr;
        /* Single column layout on smaller screens */
    }
}
