body {
    /* background-image: url(./depositphotos_5425468-stock-photo-coffee-background.jpg); */
    /* background-color: #4f200c; */
    position: relative;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    text-align: center;
    background-repeat: repeat;

    background-size: cover;
    background-attachment: fixed;
}

.adminManage {
    /* background-color: #b59c7d; */
    text-align: center;
    justify-content: center;
}